@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-ct: 50rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-ct);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --fontFamily-serif: "Open Sans", sans-serif, "Times New Roman", Times, serif;
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-serif);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #F5ECE9;
  --color-text: #0D0D0D;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-accent: #d1dce5;
}


/* Custom classes */

.project__wrapper {
  padding: 10px;
  max-width: 600px;
  width: 100%;
}

.project__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.project__item--img {
  width: 100%;
  height: 100%;
}

.project__items--hover {
  opacity: 0;
  width: 100%;
  height: 100%;
  max-width: 600px;
  top: 0;
  position: absolute;
}

.project__item--hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.project__inner:hover .project__items--hover {
  opacity: 1;
}

/* Media queries */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}